body{
    background-color: #638a79;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    background-position: fixed;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial;
    color: #333;
}

.content {
  background-color: #fff;
  width: 840px;
  margin: 100px auto 0px auto;


}
.content .content-top {

  background-image: url("img/content-bg.png");
  background-position: 0 0;
  height: 12px;
}
.content .content-bottom {
  background-image: url("img/content-bg.png");
  transform: scale(1, -1);
  background-position: 0 840px;

  height: 12px;
}
.content .content-middle {
 padding: 20px 30px;
}

h1 {
  font-size: 26px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #2b8c57;
}
h2 {
  font-size: 18px;
  line-height: 28px;
  color: #2b8c57;
  font-weight: normal;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 15px;
 }

div.block-1 {
  font-style: italic;
  color: #fff;
  font-size: 12px;
  background-color: #2b8c57;
  padding: 20px 30px;
  background-image: url("img/block-1-bg.png");
  background-repeat: repeat-x;
}

div.block-2 {
  background-image: url("img/picture-1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  color: white;
  font-style: italic;
  font-size: 12px;
  padding: 20px 30px;
  background-color: #356149;
}

a.button {
  background-image: url("img/button-1.png");
  display: block;
  width: 121px;
  height: 38px;
  text-decoration:none;
  background-position: 0px 0px;

}
a.button:hover {
  background-image: url("img/button-1.png");
  text-decoration:none;
  background-position: 0px -38px;
}
a.button:active {
  background-image: url("img/button-1.png");
  text-decoration:none;
  background-position: 0px -76px;
}
